{% extends "base.html" %}
{% load i18n %}

{% load crispy_forms_tags %}

{% load static %}
{% load bioresources_extras %}

{% block header %}
    {% include "header.html" with class="bg-primary" section_name="Data submission"%}
{% endblock %}


{% block content %}
    <section class="col-md-6 col-md-offset-3" style="line-height:0">
        <a class="panel panel-default" href="{% url 'bioresources:submission_import' %}">
          <div class="panel-body">
            <h3>{% trans 'Import a resource from NCBI/EBI/BOLD' %}</h3>
          </div>
        </a>
        <a class="panel panel-default" href="{% url 'bioresources:submission_related'%}" style="display: none">
              <div class="panel-body">
                <h3>{% trans 'From the publications or data that you already uploaded, import related resources' %}</h3>
              </div>
        </a>
        <a class="panel panel-default" href="{% url 'bioresources:submission_new'%}" style="display: none">
              <div class="panel-body">
                <h3>{% trans 'Load data that is not in the international deposition databases' %}</h3>
              </div>
        </a>
        <a class="panel panel-default" href="{% url 'bioresources:tool_submission'%}">
              <div class="panel-body">
                <h3>{% trans 'Add a new tool' %}</h3>
              </div>
        </a>
        <a class="panel panel-default" href="{% url 'bioresources:bioproject_submission'%}">
              <div class="panel-body">
                <h3>{% trans 'Add a new Bioproject' %}</h3>
              </div>
        </a>
        <a class="panel panel-default" href="{% url 'bioresources:assembly_submission'%}">
              <div class="panel-body">
                <h3>{% trans 'Add a new Assembly' %}</h3>
              </div>
        </a>
        <a class="panel panel-default" href="{% url 'bioresources:reads_submission'%}">
              <div class="panel-body">
                <h3>{% trans 'Add a new Sequencing' %}</h3>
              </div>
        </a>
        <a class="panel panel-default" href="{% url 'bioresources:expression_submission'%}">
              <div class="panel-body">
                <h3>{% trans 'Add a new Expression Data' %}</h3>
              </div>
        </a>
        <a class="panel panel-default" href="{% url 'bioresources:batch_import'%}" style="display:none;">
              <div class="panel-body">
                <h3>{% trans 'Add/Import batch data' %}</h3>
              </div>
        </a>
    </section>
{% endblock %}