{% extends "base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}
{% load static %}
{% load bioresources_extras %}

{% block content %}
<div class="col-lg-12">
    <h1>{% trans 'FAQ' %}</h1>

<h2>Próximanente...</h2>

<div style="display: none">
    <h2>¿Que informacion se almacena ?</h2>
    <p></p>
    <h2>¿Cómo se obtuvieron estos datos?</h2>
    <p> Métodos automaticos y carga manual </p>
    <h2>¿Cuáles son los metadatos y los estándares de validación utilizados?</h2>
    <p></p>
    <h2>¿Quiénes pueden subir datos y en que formato?</h2>
    <p></p>
    <h2>¿Cómo tengo que validar mi usuario?</h2>
    <p></p>
    <h2>¿Cómo se validan los datos a nivel ?</h2>
    <p></p>
</div>

</div>
{% endblock %}