{% extends "base.html" %}

{% load static %}
{% load bioresources_extras %}
{% load biosql_extras %}
{% load i18n %}

{% block head %}


{% endblock %}

{% block sidebarleft %}

{% if sidebarleft %}

<nav class="col-md-2 d-none d-md-block bg-light sidebar">
 <div class="sidebar-sticky">
<h3>{% trans 'Filters' %}</h3>

{% for f in filters%}
<div class="justify-content-between align-items-center px-3 mt-4 mb-1 ">
{{f.name}}: <a href="{{ f.value.get_absolute_url }}">{{ f.value.name }}</a>
</div>
{% endfor %}
</div>
</nav>
{% endif %}

{% endblock %}

{% block content %}

<div class="row">
<div class="col-md-8">

<h3>{% trans 'Results' %}</h3>
<table class="table table-responsive">
<thead>
<tr><td></td><td>{% trans 'Description' %} </td>
<td>{% trans 'Locus Tag' %} </td><td>{% trans 'Location' %} </td><td>{% trans 'Aliases' %} </td>



</tr>
</thead>
<tbody>
{% for idx,o in objects %}
<tr>
<td>{{idx}}</td>
{% for c in columns %}
{% if c.url != None  %}
<td> <a href="{% call_method c 'url' o %}">{% call_method c 'render' o %}</a></td>
{% else %}
<td> {% call_method c 'render' o %}</td>
{% endif  %}


{% endfor %}
</tr>
{% endfor %}


</tbody>
</table>
</div>
</div>

<div class="col-md-6">
                <h3>Search <strong>{{page_obj.paginator.count}}</strong> results </h3>
               </div>
                <div class="col-md-6">
                <nav aria-label="Page navigation">
                {{page_obj}}
                    <ul class="pagination justify-content-left">
                      <li class="page-item"><a class="page-link" href="?page=1&q={{query}}&{{params|qs_without_parameter:'page'}}">First</a></li>
                      {% if page_obj.has_previous %}
                      <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}&{{params|qs_without_parameter:'page'}}">&laquo;</a></li>
                      {% else %}
                      <li class="page-item disabled"><a class="page-link" href="#"><span>&laquo;</span></a></li>
                      {% endif %}
                      {% for i in page_obj.paginator.show_pages %}
                      {% if page_obj.number == i %}
                      <li class="page-item active"><a class="page-link" href="#">{{ i }} <span class="sr-only">(current)</span></a></li>
                      {% else %}
                      <li class="page-item"><a class="page-link" href="?page={{ i }}&{{params|qs_without_parameter:'page'}}">{{ i }}</a></li>
                      {% endif %}
                      {% endfor %}
                      {% if page_obj.has_next %}
                      <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}&{{params|qs_without_parameter:'page'}}">&raquo;</a></li>
                      <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages}}&{{params|qs_without_parameter:'page'}}">Last</a></li>
                      {% else %}
                      <li class="page-item disabled"><a class="page-link" href="#"><span>&raquo;</span></a></li>
                      {% endif %}

                    </ul>
                    </nav>




{% endblock %}